[submodule "docs"]
	path = docs
	url = W:/fusion3d
	branch = gh-pages
[submodule "pages"]
	path = pages
	url = W:/fusion3d
	branch = gh-pages
[submodule "gh-pages"]
	path = gh-pages
	url = W:/fusion3d
	branch = gh-pages
